In [1]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime, timedelta
import random

In [2]:
# --- Database Connection Details ---
# Replace with your actual TimescaleDB connection details
DB_HOST = "localhost"
DB_NAME = "smart_monitoring"
DB_USER = "postgres"
DB_PASSWORD = "devserver"
DB_PORT = 5432 # Default PostgreSQL/TimescaleDB port
# 'postgresql://user:password@host:port/database'
conn_str = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

### detect stay period in each individual room

In [3]:
start_time = '2014-04-01 22:00:00'
end_time = '2014-04-02 22:00:00'

person_name = 'csh126'
sensor_type = 'Motion'

sql_query = f"""
    WITH sorted_data AS (
        SELECT m.full_name,
                s.sensor_uuid,
                ls.room_name,
                st.type_name,
                srt.value_text, 
                srt.event_time,
               (value_text = 'ON') AS IsMotion,
               srt.event_time AS end_time,
               srt.sensor_id AS unique_id,
               LAG(srt.sensor_id) OVER (ORDER BY event_time) AS prev_unique_id
        FROM monitored_persons m 
                    join sensors s on m.person_id = s.person_id 
                    join locations ls on s.location_id = ls.location_id
                    join sensor_types st on s.sensor_type_id = st.sensor_type_id
                    join sensor_readings_text srt on s.sensor_id = srt.sensor_id
                where m.full_name = '{person_name}' 
                and st.type_name  = '{sensor_type}'
                and (srt.event_time > '{start_time}' and srt.event_time <'{end_time}')
    ),
    grouped_data AS (
        SELECT *,
               SUM(CASE WHEN unique_id != prev_unique_id OR prev_unique_id IS NULL THEN 1 ELSE 0 END)
               OVER (ORDER BY event_time ROWS UNBOUNDED PRECEDING) AS GroupID
        FROM sorted_data
    ),
    aggregated_data AS (
        SELECT
            GroupID,
            MIN(event_time) AS start_time,
            MAX(end_time) AS end_time,
            MAX(end_time) - MIN(event_time) as duration,
            MIN(unique_id) AS unique_id,
            MIN(sensor_uuid) as uuid,
            MIN(room_name) as room_name
        FROM grouped_data
        GROUP BY GroupID
    )
    SELECT unique_id, uuid, room_name, start_time , end_time, duration
    FROM aggregated_data
    ORDER BY start_time;
"""
engine = create_engine(conn_str)
df_daily = pd.read_sql_query(sql_query, engine)
#  Calculate cumulative sum of event_val within each door group
#    This 'current_state' represents the net number of 'OPEN' events that are active.
# df_door['current_state'] = df_door.groupby(['sensor_uuid', 'type_name'])['event_val'].cumsum()
# Format the 'event_time' column
df_daily['end_time'] = df_daily['end_time'].dt.strftime('%Y-%m-%d %H:%M:%S')
df_daily['start_time'] = df_daily['start_time'].dt.strftime('%Y-%m-%d %H:%M:%S')
# Calculate the total minutes and create a new column
df_daily['duration'] = df_daily['duration'].dt.total_seconds() / 60

df_daily['index'] = range(len(df_daily))

df_daily.head()
# df_daily.to_csv('csh126_daily.csv')

,unique_id,uuid,room_name,start_time,end_time,duration,index
0,1219,csh126_M012,Bedroom,2014-04-02 02:06:46,2014-04-02 07:30:24,323.639268,0
1,1218,csh126_M001,OutsideDoor,2014-04-02 07:31:29,2014-04-02 08:25:36,54.113493,1
2,1219,csh126_M012,Bedroom,2014-04-02 08:29:35,2014-04-02 08:47:38,18.042130,2
3,1218,csh126_M001,OutsideDoor,2014-04-02 08:47:54,2014-04-02 10:03:43,75.814525,3
4,1219,csh126_M012,Bedroom,2014-04-02 10:03:50,2014-04-02 12:34:16,150.429948,4

### Check daily door events

In [4]:
start_time = '2014-04-01 22:00:00'
end_time = '2014-04-02 22:00:00'

person_name = 'csh126'
sensor_type = 'Door'

sql_query = f"""
            SELECT
                m.full_name,
                s.sensor_uuid,
                st.type_name,
                srt.value_text,
                srt.sensor_id,
                srt.event_time,
                
                LAG("value_text", 1) OVER (
                    PARTITION BY srt.sensor_id
                    ORDER BY "event_time"
                ) AS pre_value,
                LAG(srt.event_time, 1) OVER (
                    PARTITION BY srt.sensor_id 
                    ORDER BY srt.event_time
                ) AS start_time,
                srt.event_time - LAG(srt.event_time, 1) OVER (
                    PARTITION BY srt.sensor_id 
                    ORDER BY srt.event_time
                ) AS duration
            FROM monitored_persons m 
                join sensors s on m.person_id = s.person_id 
                join sensor_types st on s.sensor_type_id = st.sensor_type_id
                join sensor_readings_text srt on s.sensor_id = srt.sensor_id
            where m.full_name = '{person_name}' 
            and st.type_name  = '{sensor_type}'
            and (srt.event_time > '{start_time}' and srt.event_time <'{end_time}')
            ORDER BY
                srt.sensor_id,
                srt.event_time;
        """
engine = create_engine(conn_str)
df_door = pd.read_sql_query(sql_query, engine)
# Format the 'event_time' column
df_door['event_time'] = df_door['event_time'].dt.strftime('%Y-%m-%d %H:%M:%S')
df_door['start_time'] = df_door['start_time'].dt.strftime('%Y-%m-%d %H:%M:%S')
# Calculate the total minutes and create a new column
df_door['duration'] = df_door['duration'].dt.total_seconds() / 60


df_door_daily = df_door[df_door['value_text'] == "CLOSE"]
df_door_daily.head()
# df_door_daily.to_csv('csh126_daily_door.csv')

,full_name,sensor_uuid,type_name,value_text,sensor_id,event_time,pre_value,start_time,duration
1,csh126,csh126_D101,Door,CLOSE,1231,2014-04-02 07:31:35,OPEN,2014-04-02 07:31:31,0.073477
3,csh126,csh126_D101,Door,CLOSE,1231,2014-04-02 08:21:51,OPEN,2014-04-02 08:21:15,0.612454
5,csh126,csh126_D101,Door,CLOSE,1231,2014-04-02 08:25:35,OPEN,2014-04-02 08:25:30,0.077047
7,csh126,csh126_D101,Door,CLOSE,1231,2014-04-02 08:47:56,OPEN,2014-04-02 08:47:51,0.085861
9,csh126,csh126_D101,Door,CLOSE,1231,2014-04-02 10:03:41,OPEN,2014-04-02 10:03:37,0.075102

### Check if room evnent inlcudes a door open close event

In [6]:
# Function to check if any door event is within the daily activity interval
def check_daily_act_contains_door(activity_row):
    """Returns True if any door event time is within the activity's start and end time."""
    start = activity_row['start_time']
    end = activity_row['end_time']
    # Check if any door eventtime is between start and end (inclusive)
    return ((df_door_daily['start_time'] >= start) & (df_door_daily['event_time'] <= end)).any()

# Apply the function to create a new column in dfdailyact
df_daily['contains_door_event'] = df_daily.apply(check_daily_act_contains_door, axis=1)

print("--- Daily Activity with Door Event Check ---")
# room_name	start_time	end_time	duration

print(df_daily[['room_name', 'start_time', 'end_time', 'contains_door_event']])

--- Daily Activity with Door Event Check ---
      room_name           start_time             end_time  contains_door_event
0       Bedroom  2014-04-02 02:06:46  2014-04-02 07:30:24                False
1   OutsideDoor  2014-04-02 07:31:29  2014-04-02 08:25:36                 True
2       Bedroom  2014-04-02 08:29:35  2014-04-02 08:47:38                False
3   OutsideDoor  2014-04-02 08:47:54  2014-04-02 10:03:43                 True
4       Bedroom  2014-04-02 10:03:50  2014-04-02 12:34:16                False
5   OutsideDoor  2014-04-02 12:56:53  2014-04-02 12:58:26                False
6       Bedroom  2014-04-02 13:14:49  2014-04-02 13:46:21                False
7   OutsideDoor  2014-04-02 13:47:22  2014-04-02 14:02:33                False
8       Bedroom  2014-04-02 14:02:55  2014-04-02 16:43:19                False
9   OutsideDoor  2014-04-02 17:16:35  2014-04-02 17:16:43                False
10      Bedroom  2014-04-02 17:16:59  2014-04-02 17:23:22                False
11  OutsideDoor  2014-04-02 17:27:27  2014-04-02 17:27:35                False
12      Bedroom  2014-04-02 18:09:12  2014-04-02 18:10:14                False
13  OutsideDoor  2014-04-02 18:10:53  2014-04-02 19:01:54                 True
14      Bedroom  2014-04-02 19:24:56  2014-04-02 19:25:46                False
15  OutsideDoor  2014-04-02 19:25:53  2014-04-02 20:48:21                False
16      Bedroom  2014-04-02 20:48:44  2014-04-02 20:49:30                False
17  OutsideDoor  2014-04-02 20:49:43  2014-04-02 21:03:31                False
18      Bedroom  2014-04-02 21:20:26  2014-04-02 21:49:57                False

### check if a door open close event inlcudes room events

In [8]:
# Task (2): Check if a door event includes one or more df_daily_act events
df_door_daily = df_door_daily.copy()
df_door_daily['includes_daily_act_event'] = df_door_daily.apply(
    lambda row: any((df_daily['start_time'] >= row['start_time']) & (df_daily['end_time'] <= row['event_time'])),
    axis=1
)


# Add a column to df_door with the list of unique_ids from df_daily_act that are included in the door event
df_door_daily['included_daily_act_ids'] = df_door_daily.apply(
    lambda row: df_daily[
        (df_daily['start_time'] >= row['start_time']) &
        (df_daily['end_time'] <= row['event_time'])
    ]['index'].tolist(),
    axis=1
)

df_door_daily.head()

,full_name,sensor_uuid,type_name,value_text,sensor_id,event_time,pre_value,start_time,duration,includes_daily_act_event,included_daily_act_ids
1,csh126,csh126_D101,Door,CLOSE,1231,2014-04-02 07:31:35,OPEN,2014-04-02 07:31:31,0.073477,False,[]
3,csh126,csh126_D101,Door,CLOSE,1231,2014-04-02 08:21:51,OPEN,2014-04-02 08:21:15,0.612454,False,[]
5,csh126,csh126_D101,Door,CLOSE,1231,2014-04-02 08:25:35,OPEN,2014-04-02 08:25:30,0.077047,False,[]
7,csh126,csh126_D101,Door,CLOSE,1231,2014-04-02 08:47:56,OPEN,2014-04-02 08:47:51,0.085861,False,[]
9,csh126,csh126_D101,Door,CLOSE,1231,2014-04-02 10:03:41,OPEN,2014-04-02 10:03:37,0.075102,False,[]

### merge room events with door events that include some room events

In [21]:
# Flatten the list of lists into a single list
all_ids = [item for sublist in df_door_daily['included_daily_act_ids'] for item in sublist]

# Create a new DataFrame with the extracted values
ids_df = pd.DataFrame(all_ids, columns=['included_daily_act_id'])

# Merge ids_df with df_daily using the index of df_daily
merged_df = df_daily.merge(ids_df, left_on='index', right_on='included_daily_act_id', how='left')

merged_df.head(20)

,unique_id,uuid,room_name,start_time,end_time,duration,index,contains_door_event,included_daily_act_id
0,1219,csh126_M012,Bedroom,2014-04-02 02:06:46,2014-04-02 07:30:24,323.639268,0,False,NaN
1,1218,csh126_M001,OutsideDoor,2014-04-02 07:31:29,2014-04-02 08:25:36,54.113493,1,True,NaN
2,1219,csh126_M012,Bedroom,2014-04-02 08:29:35,2014-04-02 08:47:38,18.042130,2,False,NaN
3,1218,csh126_M001,OutsideDoor,2014-04-02 08:47:54,2014-04-02 10:03:43,75.814525,3,True,NaN
4,1219,csh126_M012,Bedroom,2014-04-02 10:03:50,2014-04-02 12:34:16,150.429948,4,False,NaN
5,1218,csh126_M001,OutsideDoor,2014-04-02 12:56:53,2014-04-02 12:58:26,1.556151,5,False,NaN
6,1219,csh126_M012,Bedroom,2014-04-02 13:14:49,2014-04-02 13:46:21,31.534527,6,False,NaN
7,1218,csh126_M001,OutsideDoor,2014-04-02 13:47:22,2014-04-02 14:02:33,15.185949,7,False,NaN
8,1219,csh126_M012,Bedroom,2014-04-02 14:02:55,2014-04-02 16:43:19,160.391564,8,False,NaN
9,1218,csh126_M001,OutsideDoor,2014-04-02 17:16:35,2014-04-02 17:16:43,0.134344,9,False,9.0
10,1219,csh126_M012,Bedroom,2014-04-02 17:16:59,2014-04-02 17:23:22,6.386852,10,False,NaN
11,1218,csh126_M001,OutsideDoor,2014-04-02 17:27:27,2014-04-02 17:27:35,0.124995,11,False,NaN
12,1219,csh126_M012,Bedroom,2014-04-02 18:09:12,2014-04-02 18:10:14,1.037495,12,False,NaN
13,1218,csh126_M001,OutsideDoor,2014-04-02 18:10:53,2014-04-02 19:01:54,51.029311,13,True,NaN
14,1219,csh126_M012,Bedroom,2014-04-02 19:24:56,2014-04-02 19:25:46,0.843621,14,False,NaN
15,1218,csh126_M001,OutsideDoor,2014-04-02 19:25:53,2014-04-02 20:48:21,82.476310,15,False,NaN
16,1219,csh126_M012,Bedroom,2014-04-02 20:48:44,2014-04-02 20:49:30,0.768680,16,False,16.0
17,1218,csh126_M001,OutsideDoor,2014-04-02 20:49:43,2014-04-02 21:03:31,13.789281,17,False,NaN
18,1219,csh126_M012,Bedroom,2014-04-02 21:20:26,2014-04-02 21:49:57,29.506636,18,False,NaN

### check daily activities

In [5]:
start_time = '2014-04-01 17:00:00'
end_time = '2014-04-02 22:00:00'

person_name = 'csh126'
sensor_type = 'Motion'

sql_query = f"""
    WITH sorted_data AS (
        SELECT m.full_name,
                s.sensor_uuid,
                ls.room_name,
                st.type_name,
                srt.value_text, 
                srt.event_time
        FROM monitored_persons m 
                    join sensors s on m.person_id = s.person_id 
                    join locations ls on s.location_id = ls.location_id
                    join sensor_types st on s.sensor_type_id = st.sensor_type_id
                    join sensor_readings_text srt on s.sensor_id = srt.sensor_id
                where m.full_name = '{person_name}' 
                and (srt.event_time > '{start_time}' and srt.event_time <'{end_time}')
    )
    SELECT *
    FROM sorted_data
    ORDER BY event_time;
"""
engine = create_engine(conn_str)
df_daily_act = pd.read_sql_query(sql_query, engine)
#  Calculate cumulative sum of event_val within each door group
#    This 'current_state' represents the net number of 'OPEN' events that are active.
# df_door['current_state'] = df_door.groupby(['sensor_uuid', 'type_name'])['event_val'].cumsum()
# Format the 'event_time' column
df_daily_act['event_time'] = df_daily_act['event_time'].dt.strftime('%Y-%m-%d %H:%M:%S')
df_daily_act.head()
# df_daily_act.to_csv('csh126_daily_all.csv')

,full_name,sensor_uuid,room_name,type_name,value_text,event_time
0,csh126,csh126_D101,OutsideDoor,Door,OPEN,2014-04-01 17:11:37
1,csh126,csh126_M001,OutsideDoor,Motion,ON,2014-04-01 17:11:37
2,csh126,csh126_M001,OutsideDoor,Motion,OFF,2014-04-01 17:11:39
3,csh126,csh126_M001,OutsideDoor,Motion,ON,2014-04-01 17:11:41
4,csh126,csh126_D101,OutsideDoor,Door,CLOSE,2014-04-01 17:11:41